{% extends "layout.html" %} {% block title %} Search {% endblock %} {% block body %}
<br>
<div class="d-sm-flex row justify-content-center" style="height:100%">
    <h1 class="mb-0 text-gray-800">My reviews</h1>
</div>
<p></p>
<br>
</div>
<div class="row justify-content-center">
    <p>Here I am suppose to put a list of the reviews a user made but I'm kind of lazy to do it right now becuase I want to start the next project!!!! Sorry To come soon... or not!
    </p>
    <p>{{ error }}</p>
</div>

{% endblock %}